<div>

  <canvas class="whiteboard" (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp($event)"
          (mouseout)="onMouseUp($event)"
          (mousemove)="throttle(onMouseMove($event),10)"
          (touchstart) = "onTouchStart($event)"
          (touchend)="onTouchEnd($event)"
          (touchmove) = "throttle(onTouchMove($event),100)"
  ></canvas>

  <div>
    <div class="colors">
      <div class="color black" (click)="onColorUpdate($event)"></div>
      <div class="color red" (click)="onColorUpdate($event)"></div>
      <div class="color green" (click)="onColorUpdate($event)"></div>
      <div class="color blue" (click)="onColorUpdate($event)"></div>
      <div class="color yellow" (click)="onColorUpdate($event)"></div>
      <button class="btn-primary float-right" (click)="clear()">Clear</button>
    </div>

  </div>

</div>

